body {
	height: 100%;
	margin: 0;
	font-family: "Works-Sans", sans-serif;
	background-color: #fbf7f5;
}

.banner {
	background-image: url("");
	background-color: #2E3532;
	height: 25%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.title-text {
	text-align: left;
	position: absolute;
	left: 13%;
	color: #b1b1b1;
}

.title-text h1{
	font-family: 'Martel Sans', sans-serif;
	font-size:3.5em;
	font-weight: lighter;
	margin-bottom: -40;
	letter-spacing: 2px; 
	
}

.title-text h2{
	font-family: 'Martel Sans', sans-serif;
	font-weight: lighter;
	font-size: 1.25em;
}

.logo {
	max-width: 20%;
	display:block;
	margin:auto;
}

.logo img{
	width: 130px;
	display: block;
	padding-top: 25px;
	margin: auto;

}

a {
	color: black;
	
}

nav ul a{
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #C1C1C1;
	text-decoration: none;

}
nav ul a:hover {
	color: lightgray;
}

nav {
	padding-right : 200;

}
nav ul {
	float: right;
	width: 20%;
	display: flex;
	justify-content: space-between;
	margin-top: -15px;
	list-style-type: none;

}

nav li {
	text-align: center;


}

.game{
	margin: 50px 225px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content, .game-text{
	display: inline-block;
}

.game-text{
	width: 50%;
	padding-left: 10%;
}

.game-text .title{
	font-size: 25px;
	margin-bottom: -5px;
	font-family: 'Work-Sans', sans-serif;
}

.game-text .description {
	line-height: 1.5;
}

hr{
	width: 80%;
	border-top: 1px solid black;
}

/*About Me Styling*/
.about-me {
	margin: 50px 225px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-me img{
	max-width: 50%;
}

.about-me .description{
	width: 50%;
	padding-left: 5%;
}

.about-me .description h3{
	font-size: 30px;
	text-decoration: underline;
}

.about-me p{
	line-height: 1.5;
}

/*Contact Styling*/

/*.contact {
	width: 20%;
	align-items: center;
	display: block;
	margin:auto;
}

.contact h3{
	font-size: 30px;

}

.contact h4{

}*/

