body {
	height: 100%;
	margin: 0;
	font-family: "Works-Sans", sans-serif;
}

.banner {
    height: 50%;
    background-size: cover;
    position: static;
    min-width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
	border-bottom-style: solid;
	border-bottom-color: #F2F196
}

.title-text {
	text-align: left;
	position: absolute;
	display: inline-block;
	left: 13%;
	color: #05ABEB;
}

.title-text h1{
    font-family: 'Martel Sans', sans-serif;
    font-size: 3.5em;
    font-weight: lighter;
    margin-bottom: -40px;
    letter-spacing: 2px;
	color: #F50097
}

.title-text h2{
	font-family: 'Martel Sans', sans-serif;
	font-weight: lighter;
	font-size: 1.25em;
}

.logo {
	max-width: 20%;
	display:block;
	margin:auto;
}

.logo img{
    max-width: 130px;
    padding-top: 25px;
	padding-left: 50%;
	padding-right: 50%;
    margin: auto;
	align: middle;
}

a {
	color: black;
	
}

nav ul a{
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #05ABEB;
	text-decoration: none;
	padding: 20px;
}
nav ul a:hover {
	border-top-style: solid;
	border-top-color: #F2F196
}

nav li.selected a {
	color: #f50097;
}

nav {
	padding-right : 13%;

}
nav ul {
	float: right;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

nav li {
	text-align: center;


}

.game{
	margin: 50px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content, .game-text{
	display: inline-block;
}

.game-text{
	max-width: 50%;
	padding-left: 10%;
}

.game-text .title{
	font-size: 20pt;
	margin-bottom: -5px;
	font-family: 'Work-Sans', sans-serif;
}

.game-text .description {
	line-height: 1.5;
}

a.moreInfo {
	font-size: 0.8rem;
	background-color: #05ABEB;
	color: white;
	display: inline-block;
	border-radius: 3px;
	padding: 8px 30px;
	text-decoration: none;
}

a.moreInfo:hover {
	background-color: #08415C;
}

a.storeLink{
	display: inline-block;
	border-radius: 3px;
	padding: 0px 0px 0px 15px;

}

img.storeLink{
	width: 25px;
	height: 25px;
	vertical-align: middle;
	object-fit: contain;
}

.links {
	white-space: nowrap;
}

hr{
	width: 85%;
	border-top: 2px solid #F2F196;
}

/*About Me Styling*/
.about-me {
	margin: 50px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-me img{
	max-width: 50%;
}

.about-me .description{
	max-width: 50%;
	padding-left: 5%;
}

.about-me .description h3{
	font-size: 30px;
	text-decoration: underline;
}

.about-me p{
	line-height: 1.5;
}

@media only screen and (max-width: 1000px) {
	.title-text { 
		position: static;
		text-align: center;
		align-items: center;
		display: inline;
		left: auto;
	}
	.logo img {display: none;}
	nav {padding:0;}
	nav ul {
		float:none;
		justify-content: center;

	}
	.game-text, .about-me .description {max-width: 100%; text-align: center;}
	.game, .about-me { 
		display: inherit;
		margin-left:auto;
		justify-content: center;
	}
	.content, .about-me img {
		margin-left: 10%;
		margin-right: 10%;
		float: center;
		max-width: 80%;
		width: 80%;
	}
}


/*Contact Styling*/

/*.contact {
	width: 20%;
	align-items: center;
	display: block;
	margin:auto;
}

.contact h3{
	font-size: 30px;

}

.contact h4{

}*/
